<!--use for templete inheretance-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation System</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo"> <img src="/static/mov.png" />MRS</div>
            <li id="id"><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="contact">Contact US</a></li>
            <div id="log">
                <ul>
                    <li>Sine In</li>
                    <li>Log In</li>
                </ul>
            </div>
        </ul>
    </nav>
    <section id="footer">Copyright 2020 @LiquidElectricityDanceAcadamy.com | All Right Reserve.</section>
</body>

</html>