<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
       <nav id="navbar">
            <ul>

                <div id="logo">
                    <img src="/static/mov.png">
                    <p>MRS</p>
                </div>
                <li id="id"><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="views/base.html">Contact US</a></li>
                <div id="log">
                    <ul>
                        <li>Sine  In</li>
                        <li>Log In</li>
                    </ul>
                </div>
            </ul>
        </nav>
        <!--
        <section id="introSection">
            <u><h1 id="id1">Movies</h1></u>
        </section>
        -->
        <section id="missionSection">
            <h1 id="id3"> Our Mission </h1>
            <div class="container">
                <div class="card">
                    <h3>24*7 Entertenment</h3>
                    <div class="card-box">
                        <div class="card-img">
                            <img src="/static/1.png">
                        </div>

                        <div class="card-content">
                            <p> Trust-Us!</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h3>Choice A Excellant Among The Good.</h3>
                    <div class="card-box">
                        <div class="card-img">
                            <img src="/static/2.png">
                        </div>

                        <div class="card-content">
                            <p> Belive Us!</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3>Quality Content Suggestor.</h3>
                    <div class="card-box">
                        <div class="card-img">
                            <img src="/static/3.png">
                        </div>

                        <div class="card-content">
                            <p> Keep Faith in Us!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="sponserSection">
            <h1 id="id4"> Our Sponser</h1>
            <div id="sponsers">
                <img src="/static/logo1.png" alt="sponcer img" class="spImage">
                <img src="/static/logo2.png" alt="sponcer img" class="spImage">
                <img src="/static/logo3.png" alt="sponcer img" class="spImage">
                <img src="/static/logo4.png" alt="sponcer img" class="spImage">

            </div>
        </section>


        <section id="footer">
            Copyright 2020 @LiquidElectricityDanceAcadamy.com  All Right Reserve.
        </section>
        <script type="text/javascript" href="/static/index.js"></script>
</body>
</html>

    